@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 30;
  --background-end-rgb: 0, 0, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

.tile-top {
  @apply flex justify-center items-center pt-2 pb-2;
}

.tile-row {
  @apply flex items-center col-span-3 border-t border-gray-700 px-2;
}