@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 30;
  --background-end-rgb: 0, 0, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

.tile-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
}

.tile-row {
  display: flex;
  align-items: center;
  grid-column: span 3 / span 3;
  border-top-width: 1px;
  padding: 0 0.5rem;
}